# Project 2
polygenesis/tests/*
polygenesis/images/temp
polygenesis/generated/*.png
polygenesis/generated/dna/*.pkl
polygenesis/generated/plot/*.png
polygenesis/generated/vector/*.svg

!polygenesis/generated/dna/dna_sad.pkl
!polygenesis/generated/dna/dna_ssd.pkl
!polygenesis/generated/dna/dna_sed.pkl
!polygenesis/generated/vector/ml_sad.svg
!polygenesis/generated/vector/ml_ssd.svg
!polygenesis/generated/vector/ml_sed.svg

# VS Code
.vscode

# Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
